<!DOCTYPE html>
<html>
<head>
  <title>Add Article</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Add New Article</h1>
  <form method="POST" action="/admin/add">
    <label>Title: <input type="text" name="title"></label><br>
    <label>Date: <input type="date" name="date"></label><br>
    <label>Content:<br><textarea name="content" rows="10" cols="50"></textarea></label><br>
    <button type="submit">Publish</button>
  </form>
</body>
</html>