<!DOCTYPE html>
<html>
<head>
  <title><%= article.title %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1><%= article.title %></h1>
  <p><em><%= article.date %></em></p>
  <p><%= article.content %></p>
  <a href="/">Back to Home</a>
</body>
</html>